$colors: (bgColor: #fff, headerHeadingColor: #2C2F3C, btnColor: #699900,footerColor: #21232E, whiteColor:#C0C3CE, underlineColor: #16a1c7);
$fonts: (headingFont: ('Source Sans Pro', sans-serif), bodyFont: ('Hind', sans-serif));
$bgImage: url("../img/m-h-day.jpg");
$grad: linear-gradient(45deg, #679708, #2E5CD7);
@mixin button{

}
