$colors: (bgColor: #21232e, headerHeadingColor: #fff, btnColor: #E3AC00, footerColor: #3B3F50, whiteColor:#D1D1D1, underlineColor: #FF4E33);
$fonts: (headingFont: ('Source Sans Pro', sans-serif), bodyFont: ('Fresca', sans-serif));
$bgImage: url("../img/m-h-night.jpg");
$grad: linear-gradient(45deg, #E1A902, #942E51);
